body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

section{
    margin-left: 5%;
}

#heading{
    font-size: 2em;
    border-left: 5px solid tomato;
    padding-left: 15px;
    line-height: 40px;
}

.half-width{
    width: 43%;
    padding-left: 2%;
    padding-right: 3%;  
}

.special-color{
    color: LightSalmon;
}

.flexible{
    display: flex;
    margin-bottom: 100px;
}

.half-width img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.text-container{
    font-family: Arial, Helvetica, sans-serif; 
}

.text-container h1{
    font-size: 40px;
}
.text-container a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    background: linear-gradient(90deg, MediumVioletRed, tomato);
}

.text-container p{
    text-align: justify;
}

.sub-heading{
    font-size: 50px;
    text-align: center;
}

.card-container{
    max-height: 400px;
    width: 26%;
    padding: 0 10px;  
    border-radius: 20px;
    margin: 0 20px;
    padding-bottom: 20px;
}

.card{
    width: 100%;
}

.card img{
    width: 50%;
}

#mission{
    background-color: rgb(187, 245, 226);

}

#vision{
    background-color: rgb(204, 222, 247);

}

#goals{
    background-color: rgb(233, 207, 245);
}

.image{
    border-radius: 20px;
}

footer{
    text-align: center;
    font-family: "Lobster", cursive;
    color: white;
    background-color: black;
    padding: 20px 0;
}