body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-left: 50px;
}

#heading{
    font-size: 2em;
    border-left: 5px solid tomato;
    padding-left: 15px;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 100px;
}

.special-color{
    color: LightSalmon;
}

.section{
    display: flex;
}

.half-width img{
    width: 100%;
    height: 100%;
}

.text-container a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    background: linear-gradient(90deg, MediumVioletRed, tomato);
}

.text-container p{
    text-align: justify;
}

.sub-heading{
    font-size: 2em;
    text-align: center;
}